<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <img class="img-fluid card-img-top" [src]="post.imagePath" [alt]="post.title">
        <div class="card-body">
          <h2 class="card-title">
            {{post.title}}
          </h2>
          <ngx-md>
            {{post.content}}
          </ngx-md>
          <h6 class="card-subtitle mb-2 text-muted">{{post.author.display_name}}</h6>
          <p class="card-text">{{post.updated | date:'shortDate'}}</p>
        </div>
      </div>
    </div>
  </div>
  <blog-post-gallery [images]="images"></blog-post-gallery>
</div>
