<div class="container">
  <div class="row">
    <div class="col">
      <div class="post">
        <div class="post__metadata">
          <div class="post__author">
            Author: {{post.author.display_name}}
          </div>
          <div class="post__created">
            Created: {{post.created | date:'mediumDate'}}
          </div>
        </div>
        <div class="post__object">
          <div class="post__thumb">
            <img [src]="post.imagePath" [alt]="post.title" />
          </div>
          <div class="post__content">
            <h2 class="post__header">{{post.title}}</h2>
            <ngx-md>
              {{post.content}}
            </ngx-md>
          </div>
        </div>
        <div class="post__places">
          {{places}}
        </div>
        <div class="post__tags">
          <div class="tag" *ngFor="let tag of tags">
            <span>{{tag}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ui-gallery [title]="post.title" [images]="images"></ui-gallery>
    </div>
  </div>
</div>
