<div class="input-group input-group-lg">
  <div class="input-group-prepend" *ngIf="hasPrepend">
    <span class="input-group-text">
      <ng-content select="icon-key"></ng-content>
    </span>
  </div>
  <input
    [type]="type"
    [tabindex]="tabindex"
    id="password"
    placeholder="Your Password *"
    autocapitalize="off"
    autocomplete="off"
    autocorrect="off" 
    class="form-control"
    (input)="onInput()" #input>
  <div class="input-group-append" (click)="onToggleShow()">
    <span class="input-group-text">
      <ng-container *ngIf="show; else hide;">
        <ng-content select="icon-eye"></ng-content>
      </ng-container>
      <ng-template #hide>
        <ng-content select="icon-eyeslash"></ng-content>
      </ng-template>
    </span>
  </div>
</div>
