<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">
      <ng-content select="iwdf-icon-key"></ng-content>
    </span>
  </div>
  <input
  [type]="type"
  [tabindex]="tabindex"
  id="password"
  placeholder="Your Password *"
  autocomplete="off"
  class="form-control form-control-lg" (input)="onInput()" #input>
  <div class="input-group-append" (click)="onToggleShow()">
    <span class="input-group-text">
      <ng-container *ngIf="show; else hide;">
        <ng-content select="iwdf-icon-eye"></ng-content>
      </ng-container>
      <ng-template #hide>
        <ng-content select="iwdf-icon-eyeslash"></ng-content>
      </ng-template>
    </span>
  </div>
</div>
