@import "theme-variables";

:host {
  display: block;
}
.user-bar {
  display: flex;
  align-items: center;
  &__anchor{
    display: block;
    width: 10rem;
    background-color: #fff;
  }
  &__account {
    display: flex;
    align-items: center;
    img{
      width: $admin-avatar-width;
    }
  }
  &__name{
    flex: 1 0 auto;
    text-align: left;
  }
  &__menu {
    display: flex;
    flex-direction: column;
    width: 10rem;
    margin-top: 1rem;
  }
  .dropdown-menu{
    border: none;
  }
  .arrow_box {
    position: relative;
  }
  .arrow_box::after,
  .arrow_box::before {
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 0;
    height: 0;
    pointer-events: none;
    content: " ";
    border: solid transparent;
  }

  .arrow_box::after {
    margin-left: -1rem;
    border-width: 1rem;
    border-bottom-color: #fff;
  }
  .arrow_box::before {
    margin-left: -1.1rem;
    border-width: 1.1rem;
    border-bottom-color: $light;
  }
}
