<ul class="user-bar">
  <li>
    <icon-bell [cls]="'fa-lg'"></icon-bell>
  </li>
  <li class="ml-4">
    <div ngbDropdown class="d-inline-block">
      <button class="c-btn-dropdown user-bar__anchor" id="dropdownAccount" ngbDropdownToggle>
        <ul class="user-bar__account">
          <li>
            <img class="d-inline-block" class="avatar" class="rounded-circle" src="/assets/images/avatar.jpg" alt="">
          </li>
          <li class="user-bar__name pl-2">
            <span class="d-inline-block">{{account.display_name}}</span>
          </li>
          <li class="pl-3">
            <icon-angledown></icon-angledown>
          </li>
        </ul>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownAccount">
        <ul class="user-bar__menu mat-elevation-5 arrow_box">
          <li class="c-dropdown-item text-secondary">Hello {{account.display_name}}</li>
          <li class="c-dropdown-item">{{account.role}}</li>
          <li class="c-dropdown-item"><hr /></li>
          <li class="c-dropdown-item">
            <a routerLinkActive="active" routerLink="/admin/users">
              Profile
            </a>
          </li>
          <li class="c-dropdown-item">
            <button class="c-btn" (click)="onLogout()">Log out</button>
          </li>
        </ul>
      </div>
    </div>
  </li>
</ul>
