<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">
    Gallery
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close(files)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="dropzone">
    <div class="dropzope__box text-uppercase"
    adminPostGallery
    (filesChangeEmiter)="onFilesChange($event)"
    [allowed_extensions]="['png', 'jpg', 'jpeg']">
      <div class="mb-3">
      <icon-file-upload cls="fa-3x"></icon-file-upload>
      </div>
      <div>
        <span class="text-muted text-uppercase">Drag your image here.</span>
      </div>
    </div>
    <div class="dropzope__gallery mt-3" *ngIf="files.length > 0">
      <div class="row">
        <div class="col-6 col-md-4" *ngFor="let file of files">
          <div class="card">
            <img class="img-fluid card-img-top" [src]="file.src" [alt]="file.name">
            <div class="card__body">
              <admin-posts-post-item-content [model]="file.name" (input)=onEditable($event)></admin-posts-post-item-content>
            </div>
            <div class="o-thumb__actions">
              <ui-fab-button (click)="onDelete()" [cls]="'c-btn-fab--danger'">
                <icon-trash></icon-trash>
              </ui-fab-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <ul class="d-flex flex-row justify-content-end">
    <li class="pr-1">
      <button type="button" class="btn btn-secondary" (click)="activeModal.close(files)">Close</button>
    </li>
  </ul>
</div>
