@import "theme-variables";

.dropzope {
  &__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 10rem;
    border: 1px dashed theme-color("warning");
  }
  &__files{
    background-color: theme-color("light");
  }

}
