<div class="row no-gutters align-items-center"> 
  <div class="col-md-5">
    {{post.title}}
  </div>
  <div class="col-md-2">
    {{post.author.display_name}}
  </div>
  <div class="col-md-1">
    {{post.isDraft ? 'Draft' : 'Published'}}
  </div>
  <div class="col-md-1">
    {{post.created | date:'shortDate'}}
  </div>
  <div class="col-md-1">
    {{post.updated | date:'shortDate'}}
  </div>
  <div class="col-md-2">
    <ul class="d-flex flex-row justify-content-end">
      <li class="pr-1">
        <ui-fab-button (click)="onEdit()" [cls]="'c-btn-fab--info'">
          <icon-edit></icon-edit>
        </ui-fab-button>
      </li>
      <li>
        <ui-fab-button (click)="onDelete()" [cls]="'c-btn-fab--danger'">
          <icon-trash></icon-trash>
        </ui-fab-button>
      </li>
    </ul>
  </div>
</div>
