<div class="row no-gutters align-items-center">
  {{post.places | json}}
  <div class="col-md-1">
    <div class="px-1">
      <img class="img-fluid" [src]="post.imagePath" [alt]="post.title"/>
    </div>
  </div>
  <div class="col-md-4">
    {{post.title}}
  </div>
  <div class="col-md-2">
    {{post.author.display_name}}
  </div>
  <div class="col-md-1">
    {{post.isDraft ? 'Draft' : 'Published'}}
  </div>
  <div class="col-md-1">
    {{post.created | date:'shortDate'}}
  </div>
  <div class="col-md-1">
    {{post.updated | date:'shortDate'}}
  </div>
  <div class="col-md-2">
    <ul class="d-flex flex-row justify-content-end">
      <li class="pr-1">
        <a class="btn btn-info" [routerLink]="['/admin/posts/post', post._id]">
          Update
        </a>
      </li>
      <li>
        <button type="button" (click)="open()" class="btn btn-danger">Deleted</button>
      </li>
    </ul>
  </div>
</div>
