<div class="login-form">
  <form [formGroup]="frm" (ngSubmit)="onSubmit()">
    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
      Invalid email or password
    </div>
    <div class="form-group">
      <div class="input-group input-group-lg">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <icon-envelope></icon-envelope>
          </span>
        </div>
        <input
          type="email"
          tabindex="1"
          id="email"
          placeholder="Your Email"
          class="form-control"
          autocapitalize="off"
          autocomplete="off"
          autocorrect="off"
          formControlName="email">
      </div>
    </div>
    <div class="form-group mb-4">
      <ui-password [tabindex]="2" formControlName="password">
        <icon-key></icon-key>
        <icon-eyeslash></icon-eyeslash>
        <icon-eye></icon-eye>
      </ui-password>
    </div>
    <div class="row no-gutters align-items-center mb-5">
      <div class="col">
        <a routerLink="/auth/forgotpassword">Forgot password?</a>
      </div>
      <div class="col">
        <button class="btn btn-primary btn-lg btn-block text-uppercase"
                type="submit" [disabled]="frm.invalid">
            <ui-button-spinner
            [value]="'Login'"
            [has]="pending"></ui-button-spinner>
        </button>
      </div>
    </div>
  </form>
</div>
