<ul class="d-flex flex-row align-items-center justify-content-start pl-3 admin-nav">
  <li>
    <a class="navigation-link text-secondary-normal" routerLinkActive="font-weight-bold" routerLink="/admin/dashboard">
        Dashboard
      </a>
  </li>
  <li class="navigation-item">
    <a class="navigation-link text-secondary-normal" routerLinkActive="font-weight-bold" routerLink="/admin/posts">
        Posts
      </a>
  </li>
  <li class="navigation-item">
    <a class="navigation-link text-secondary-normal" routerLinkActive="font-weight-bold" routerLink="/admin/media">
        Media
      </a>
  </li>
  <li class="navigation-item">
    <a class="navigation-link text-secondary-normal" routerLinkActive="font-weight-bold" routerLink="/admin/users">
        Users
      </a>
  </li>
</ul>
