<ul class="d-flex flex-row justify-content-start">
  <li>
    <a routerLinkActive="active" routerLink="/admin/dashboard">
      Dashboard
    </a>
  </li>
  <li class="navigation-item">
    <a routerLinkActive="active" routerLink="/admin/posts">
      Posts
    </a>
  </li>
  <li class="navigation-item">
    <a routerLinkActive="active" routerLink="/admin/media">
      Media
    </a>
  </li>
  <li class="navigation-item" *uiRole="account.role">
    <a routerLinkActive="active" routerLink="/admin/users">
      Users
    </a>
  </li>
</ul>
