<div class="d-flex flex-row align-items-center justify-content-start bg-dark">
<ul class="navigation d-flex flex-row">
  <li class="navigation-item">
    <a class="navigation-link text-secondary-normal"
    routerLinkActive="font-weight-bold"
    routerLink="">
      Home
    </a>
  </li>
  <li class="navigation-item">
    <a class="navigation-link text-secondary-normal"
    routerLinkActive="font-weight-bold"
    routerLink="/admin">
      Admin
    </a>
  </li>
  <li class="navigation-item">
    <a class="navigation-link text-secondary-normal"
    routerLinkActive="font-weight-bold"
    routerLink="/auth">
      Auth
    </a>
  </li>
</ul>
</div>
