@import "theme-variables";

:host{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 140px;
  background-color: $admin-bck-color;
}
header {

}
main{
  flex: 1 1 auto;
  background-color: #fff;
  /*.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }*/
}
footer{

}
