@import "theme-variables";

:host{
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  padding-top: 140px;
  background-color: $admin-bck-color;
}
header {

}
main{
  flex: 1 1 auto;
  background-color: #fff;
}
footer{

}
