@import "theme-variables";
.ui-sticky-footer{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  display: block;
  width: 100%;
  height: 7.5rem;
  background-color: red;
}
