.ng-switch-content{
  .nav-tabs{
    border: none;
    .nav-link {
      padding: 0;
      padding-right: ($spacer * .5);
      color: $body-color;
      border: none;
    }
    .nav-link.active{
      color: theme-color("primary");
    }
  }
}
