<div class="post"> 
  <div class="post__metadata">
    <div class="post__author">
      Author: {{post.author.display_name}}
    </div>
    <div class="post__created">
      Created: {{post.created | date:'mediumDate'}}
    </div>
  </div>
  <div class="post__object">
    <div class="post__thumb">
      <img [src]="post.imagePath" [alt]="post.title" />
    </div>
    <div class="post__content">
      <h2 class="post__header">{{post.title}}</h2>
      <ui-read-more height="250px">
        <ngx-md>
          {{post.content}}
        </ngx-md>
      </ui-read-more>
    </div>
  </div>
  <div class="post__places">
    {{places}}
  </div>
  <div class="post__tags">
    <div class="tag" *ngFor="let tag of tags">
      <span>{{tag}}</span>
    </div>
  </div>
  <div class="post__actions">
    <ul>
      <li>
        <ui-fab-button (click)="onEdit()" [cls]="'c-btn-fab--info'">
          <icon-edit></icon-edit>
        </ui-fab-button>
      </li>
      <li>
        <ui-fab-button (click)="onDelete()" [cls]="'c-btn-fab--danger'">
          <icon-trash></icon-trash>
        </ui-fab-button>
      </li>
    </ul>
  </div>
  <div class="post__gallery">
    <ui-gallery [title]="post.title" [images]="images"></ui-gallery>
  </div>
</div>
