/* Common */
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
a {
  &:hover {
    text-decoration: none;
  }
}

/* Form */
[type="file"]{
  display: none;
}
.input-group-text {
  padding: .75rem;
}

/* Dropdown */
.dropdown-toggle::after {
  display: none;
}
.dropdown-menu {
  float: none;
  padding: 0;
  margin: 0;
}

/* Buttons */
.btn {
  &:focus {
    box-shadow: none;
  }
}
.btn-primary {
  color: $white;
}
.btn-lg {
  min-height: 3.25rem;
}
.form-control-lg {
  min-height: 3.25rem;
}
.btn-outline-secondary{
  &:hover,
  &:focus,
  &:active {
    color: $secondary;
    background-color: $white;
  }
}

/* Image */
.img-fluid{
  border-radius: $border-radius-lg;
}
