/* Common */
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
a {
  &:hover {
    text-decoration: none;
  }
}

/* Dropdown */
.dropdown-toggle::after {
  display: none;
}
.dropdown-menu {
  float: none;
  padding: 0;
  margin: 0;
}

/* Buttons */
.btn{
  &:focus{
    box-shadow: none !important;
  }
}
.btn-lg {
  min-height: 3.25rem;
}
