<ng-container *ngIf="hasPosts; else noPosts">
  <section>
    <blog-home-post-item *ngFor="let post of posts | keyvalue"
          [post]="post.value"></blog-home-post-item>
    </section>
</ng-container>
<ng-template #noPosts>
  <div class="alert alert-info" role="alert">
    There are no posts yet.
  </div>
</ng-template>
