$hover-danger-color: darken($danger, 15%) !default;
$hover-info-color: darken($info, 15%) !default;
$hover-info-light: darken($light, 15%) !default;

.c-btn{
  @include base-button;
}
.c-btn-fab{
  @include base-button;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  @include mat-elevation(2);
}
.c-btn-fab--danger{
  color: theme-color("danger");
  &:hover {
    color: $hover-danger-color;
  }
}
.c-btn-fab--info{
  color: theme-color("info");
  &:hover{
    color: $hover-info-color;
  }
}
.c-btn-fab--light{
  color: theme-color("light");
  &:hover {
    color: $hover-info-light;
  }
}
.c-btn-dropdown{
  @include dropdown-button;
}
.c-btn-uppercase {
  font-size: 1.1rem;
  text-transform: uppercase;
}
.c-btn-icon {
  display: flex;
  align-items: center;
  width: 100%;
  span {
    flex: 1 0 auto;
  }
}
