.c-btn{
  @include base-button;
}
.c-btn-dropdown{
  @include dropdown-button;
}
.c-btn-uppercase {
  font-size: 1.1rem;
  text-transform: uppercase;
}
.c-btn-icon {
  display: flex;
  align-items: center;
  width: 100%;
  span {
    flex: 1 0 auto;
  }
}
