<a class="btn btn-light btn-block btn-lg mt-3 mb-3 c-btn-uppercase" routerLink="/admin/posts/post">
  Add new post
</a>
<ng-container *ngIf="loaded$ | async; else noLoaded">
  <form [formGroup]="frm">
    <div class="row">
      <div class="col-12 col-md-6" [ngClass]="{'invisible': !(hasPosts$ | async)}">
        <div class="form-group">
          <div class="input-group">
            <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="status">
              <label ngbButtonLabel class="btn-lg btn-warning">
                <input ngbButton type="radio" value="all"> All
              </label>
              <label ngbButtonLabel class="btn-lg btn-warning">
                <input ngbButton type="radio" value="publisher"> Publisher
              </label>
              <label ngbButtonLabel class="btn-lg btn-warning">
                <input ngbButton type="radio" value="draft"> Draft
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="form-group">
          <div class="input-group input-group-lg">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <icon-search></icon-search>
              </span>
            </div>
            <input
            type="search"
            tabindex="1"
            id="search"
            class="form-control"
            placeholder="Post title" [ngClass]="{'border-right-0': showTimes}" formControlName="search">
            <div class="input-group-append" *ngIf="showTimes" (click)="onResetSearch()">
              <span class="input-group-text bg-white">
                <icon-times cls="a-times"></icon-times>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <admin-posts-post-list
  [hasPosts]="hasPosts$ | async"
  [posts]="posts$ | async"
  (deleted)="onDelete($event)" (edit)="onEdit($event)"></admin-posts-post-list>
</ng-container>
<ng-template #noLoaded>
  <div class="d-flex flex-row justify-content-center">
    <ui-loader></ui-loader>
  </div>
</ng-template>
