.loader {
  position: relative;
  width: 7rem;
  height: 7rem;
  margin: 4rem auto;
  font-size: 10px;
  text-indent: -9999em;
  background: var(--primary, #007bff);
  background: linear-gradient(to right, var(--primary, #007bff) 10%, rgba(255, 67, 76, 0) 42%);
  border-radius: 50%;
  transform: translateZ(0);
  animation: load3 1.4s infinite linear;
}
.loader::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  content: "";
  background: var(--primary, #007bff);
  border-radius: 100% 0 0 0;
}
.loader::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80%;
  height: 80%;
  margin: auto;
  content: "";
  background: #fff;
  border-radius: 50%;
}

@keyframes load3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
