// Authentication
$authentication-bck-color: $white !default;

//Admin
$admin-bck-color: $gray-100 !default;
$admin-nav-color: $gray-400 !default;
$admin-nav-color-active: $gray-700 !default;

//Admin
$blog-bck-color: $orange !default;
$blog-nav-color: $gray-400 !default;
$blog-nav-color-active: $gray-700 !default;
