//
// Custom colors
//

// stylelint-disable-next-line scss/dollar-variable-default
$primary-red: red($primary);
// stylelint-disable-next-line scss/dollar-variable-default
$primary-green: green($primary);
// stylelint-disable-next-line scss/dollar-variable-default
$primary-blue: blue($primary);
