@import "theme-variables";

ul {
  display: flex;
  li{
    padding-left: $spacer * .5;
  }
  a {
    font-size: 1rem;
    color: $blog-nav-color;
    text-transform: uppercase;
  }
  .active{
    color: $blog-nav-color-active;
  }
}
