<form class="post-form" [formGroup]="frm" (ngSubmit)="onSubmit()">
  <div class="alert alert-danger mt-3" role="alert" *ngIf="error">
    Something went wrong.Please try again.
  </div>
  <div class="row mt-3">
    <div class="col-sm-8">
      <div class="form-group">
        <div class="input-group">
          <input type="text" tabindex="1" id="title" class="form-control form-control-lg" placeholder="Post title" formControlName="title">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <textarea tabindex="2" id="content" class="form-control form-control-lg" placeholder="Post content" cols="30" rows="5" formControlName="content"></textarea>
        </div>
      </div>
      <div formArrayName="places"
        *ngFor="let place of places.controls; let i = index;">
        <div class="form-group" [formGroupName]="i">
          <div class="input-group">
            <input type="text" [attr.tabindex]="2 + i + 1" class="form-control form-control-lg" placeholder="Place name" formControlName="name">
            <div class="input-group-append" (click)="onRemovePlace(place, i)">
              <span class="input-group-text">
                <icon-minus [cls]="'fa-lg'"></icon-minus>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="d-flex flex-row justify-content-end" (click)="onAddPlace()">
            <span class="text-uppercase pr-2">Add a place not to be missed</span>
            <button type="button" class="c-btn">
              <icon-plus [cls]="'fa-lg'"></icon-plus>
            </button>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col">
          <label class="i-checks" for="isDraft">
            <input
            type="checkbox"
            tabindex="3"
            name="isDraft"
            id="isDraft" formControlName="isDraft"/>
            <i></i> Draft
          </label>
        </div>
      </div>
      <!--
        *ngIf="_hasSubmited || imagePreview"
        workaround because after submit
        frm.get('image').valid is false ^^
      -->
      <ng-container *ngIf="frm.get('image').valid; else invalidImage">
        <div class="row mb-2" *ngIf="imagePreview">
          <div class="col">
            <img class="img-fluid" [src]="imagePreview" [alt]="frm.get('title').value">
          </div>
        </div>
      </ng-container>
      <ng-template #invalidImage>
        <div class="row mb-2" *ngIf="_hasSubmited || imagePreview">
          <div class="col">
            <div class="alert alert-danger m-0" role="alert">
              Invalid file extension, accept only jpg, png.
            </div>
          </div>
        </div>
      </ng-template>
      <div class="row mb-2">
        <div class="col">
          <button
          type="button"
          class="btn btn-outline-secondary btn-lg c-btn-icon c-btn-uppercase"
          (click)="filePicker.click()">
            <icon-image [cls]="'fa-lg'"></icon-image>
            <span>Pick Image</span>
          </button>
          <input type="file" #filePicker (change)="onImagePicker($event)">
        </div>
      </div>
      <div class="row no-gutters mb-2" *ngIf="files.length > 0">
        <div class="col-12 col-md-2 pr-1" *ngFor="let file of files">
          <img class="img-fluid card-img-top" [src]="file.src" alt="...">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button
          type="button"
          class="btn btn-outline-secondary btn-lg c-btn-icon c-btn-uppercase"
          (click)="openGallery()">
            <icon-images [cls]="'fa-lg'"></icon-images>
            <span>Gallery</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <button class="btn btn-primary btn-lg btn-block c-btn-uppercase"
              type="submit" [disabled]="frm.invalid">
          <ui-button-spinner
          [value]="'Publish'"
          [has]="pending"></ui-button-spinner>
      </button>
    </div>
  </div>
</form>
