<form [formGroup]="frm" (ngSubmit)="onSubmit()">
  <h2>Add new post</h2>
  <div class="alert alert-danger" role="alert">
    Something went wrong.Please try again.
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <div class="input-group">
          <input type="text" tabindex="1" id="title" class="form-control form-control-lg" placeholder="Post title" formControlName="title">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <textarea tabindex="2" id="content" class="form-control" placeholder="Post content" cols="30" rows="5" formControlName="content"></textarea>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <button class="btn btn-primary btn-lg btn-block"
              type="submit" [disabled]="frm.invalid">
          <iwdf-ui-button-spinner
          [value]="'Publish'"
          [has]="pending"></iwdf-ui-button-spinner>
      </button>
    </div>
  </div>
</form>
