@import "theme-variables";

:host{
  display: block;
  background-color: $authentication-bck-color;
}
.layout-main {
  &__row {
    height: 100vh;
  }
  &__col {
    height: 100vh;
  }
  &__col:first-child {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: linear-gradient(rgba($primary-red, $primary-green, $primary-blue, .25), rgba($primary-red, $primary-green, $primary-blue, .25)), url("/assets/images/authentication-bck.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
  }
  &__hint{
    padding-bottom: 2rem;
    text-align: center;
  }
  &__header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
  }
  &__content{
    height: 60%;
  }
}
