<div class="layout-main container-fluid o-container-fluid">
  <div class="row no-gutters layout-main__row">
    <div class="col-lg-6 d-none d-lg-flex layout-main__col">
      <div class="layout-main__hint">
        <h2 class="h1 text-white">Plan your blogial</h2>
        <p class="text-white">Un mélange of something que tu aimes</p>
      </div>
    </div>
    <div class="col-lg-6 layout-main__col">
      <div class="layout-main__header">
        <authentication-layout-header></authentication-layout-header>
      </div>
      <div class="d-flex flex-column layout-main__content">
        <div class="flex-fill">
          <div class="row no-gutters justify-content-center">
            <div class="col-sm-10 col-md-8 col-lg-6">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
        <div>
          <authentication-layout-footer></authentication-layout-footer>
        </div>
      </div>
    </div>
  </div>
</div>
