@import "theme-variables";

:host{
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $blog-bck-color;
}
.blog {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  background-color: inherit;
}
header {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  flex: 0 0 $blog-header-height;
  width: 100%;
  max-height: $blog-header-height;
  background-color: $white;
}
.header{
  height: 100%;
  background-color: inherit;
}
main{
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  padding-top: $blog-padding-top;
  padding-bottom: $blog-padding-bottom;
}
.main{
  flex: 1 0 auto;
  background-color: $white;
}
footer{
  flex: 0 0 $blog-footer-height;
  width: 100%;
  max-height: $blog-footer-height;
  background-color: $white;
}
.footer{
  height: 100%;
  background-color: inherit;
}
