@import "theme-variables";
:host{
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  flex: 0 0 $blog-header-height;
  max-height: $blog-header-height;
  border-bottom: 1px solid #e0e0e0;
}
.header{
  height: 100%;
  background-color: inherit;
}
main{
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

footer{
  position: relative;
  flex: 0 0 $blog-footer-height;
  width: 100%;
  max-height: $blog-footer-height;
  margin-top: auto;
  background-color: $white;
}
.footer{
  height: 100%;
  background-color: inherit;
}
