<div class="gallery" *ngIf="images.length > 0">
  <div class="gallery-thumb" *ngFor="let image of images;let i = index" (click)="openCarousel(i)">
    <img uiImageLoader [src]="image[0].src" [alt]="image[0].name"/>
  </div>
</div>
